/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/***/
/*
.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/*==============
* {
  margin: 0;
  padding: 0;
}
*/

.top-bar {
  background: #333;
  color: #fff;
  padding: 1rem;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  /*z-index: 3;*/
}

.btn {
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
  margin:5px;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-top: 10px;
  margin-left: 50px;
     
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
#pdf-render{
  position: absolute;
  top: 82px;
  left: 0px;
  /*
  margin-left: 160px;
  padding: 16px;
  margin-top: 10px;
  */
  overflow: hidden;
  /*
  padding: 1rem;
  */   
}

